<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-left">
                <div class="footer-tagline">hi@tag85.com</div>
                <p class="footer-copyright">&copy; 2024 TAG|85. All rights reserved.</p>

            </div>
            <div class="footer-right">
                <div class="footer-links">
                    <a href="products.html" data-nav="products">Products</a>
                    <a href="enterprise-ai.html" data-nav="enterprise">Enterprise AI</a>
                    <a href="about.html" data-nav="about">About</a>
                </div>
            </div>
        </div>
    </div>
</footer> 